.App {
  font-family: sans-serif;
  text-align: center;
}

.create-post {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  gap: 1rem;
}

.post-text {
  padding: 2rem;
}
.gif-search {
  width: 4rem;
  border-radius: 10%;
}
.post-btn {
  background-color: lightblue;
  margin-top: 2rem;
  padding: 10px;
  width: 10rem;
  margin-left: auto;
}

.show-post {
  border: 1px solid blue;
  margin-top: 2rem;
  border-radius: 1rem;
  padding: 1rem;
}
